$grey: #F3F3F3;
$photo: #0578A3;
$audio: #22A7F0;
$video: #20BBE9;

body {
  margin-top: 2.8em;
}

header {
  color: white;
  a {
    color: white;
  }
}

.picto {
  position: absolute;
  bottom: -65px;
  left: 50%;
  height: 133px;
  width: 133px;
  margin-left: -66.5px;
}

footer {
  @include outer-container;
}

.intro {
  @include outer-container;
  text-align: center;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  padding-top: 0.8em;
  nav {
    @include outer-container;
    text-align: center;
    h1 {
      font-size: 1.25em;
      font-family: sans-serif;
      @include media($large-screen) {
        display: inline;
        margin-right: 2em;
      }
    }
    a {
      font-size: 1.2em;
      font-family: monospace;
      color: #bbbbbb;
      &:hover {
        text-decoration: underline;
        color: white;
      }
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#title {
  font-family: sans-serif;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
// Services

.services {
  header {
    position: relative;
    padding: 4em 30% 7em;
    h2 {
      text-transform: uppercase;
    }
    p {
      font-family: serif;
      font-style: italic;
      font-size: 1.25em;
      color: rgba(255, 255, 255, 0.5)
    }
  }
  article {
    @include span-columns(12);
    margin-bottom: 2em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  section {
    @include outer-container;
    padding: 5em 0.5em 1.5em 0.5em;
    @include media($large-screen) {
      padding: 8em 1em 3em 1em;
    }
  }
}

// articles

.promotion {
  margin: auto;
  @include media($large-screen) {
    @include span-columns(6 of 12);
  }
}

.content {
  @include media($large-screen) {
    @include span-columns(6 of 12);
  }
}

// Images

.photo-wrapper {
  @include media($large-screen) {
    text-align: center;
  }
}

// Audio



// Vidéos

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



//// Theme sections

#about {
  background-color: $grey;
  padding: 2em 0;
  h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 5%;
  }
}

#photo {
  header {
    background-color: $photo;
    .picto {
      background: url("../images/photo.png") 0 0 no-repeat;
    }
  }
}

#audio {
  header {
    background-color: $audio;
    .picto {
      background: url("../images/audio.png") 0 0 no-repeat;
    }
  }
}

#video {
  header {
    background-color: $video;
    .picto {
      background: url("../images/video.png") 0 0 no-repeat;
    }
  }
}
