$grey: #F3F3F3;
$photo: #0578A3;
$audio: #22A7F0;
$video: #20BBE9;

body {
  margin-top: 2.8em;
  font-size: 0.8rem;
  @include media($large-screen) {
      font-size: 1em;
  }
}

header {
  color: white;
  a {
    color: white;
  }
}

.picto {
  position: absolute;
  bottom: -65px;
  left: 50%;
  height: 133px;
  width: 133px;
  margin-left: -66.5px;
}

footer {
  @include outer-container;
}

.intro {
  @include outer-container;
  text-align: center;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  padding-top: 0.8em;
  nav {
    @include outer-container;
    text-align: center;
    h1 {
      font-size: 1.25em;
      font-family: sans-serif;
      @include media($large-screen) {
        display: inline;
        margin-right: 2em;
      }
    }
    a {
      font-size: 1.2em;
      font-family: monospace;
      color: #bbbbbb;
      &:hover {
        text-decoration: underline;
        color: white;
      }
      margin-right: 0.9em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#title {
  font-family: sans-serif;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
// Services

.services {
  header {
    position: relative;
    padding: 4em 5% 7em;
    @include media($large-screen) {
      padding: 4em 30% 7em;
    }
    h2 {
      text-transform: uppercase;
    }
    p {
      font-family: serif;
      font-style: italic;
      font-size: 1.25em;
      color: rgba(255, 255, 255, 0.5)
    }
  }
  article {
    @include span-columns(12);
    margin-bottom: 2em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  section {
    @include outer-container;
    padding: 5em 0.5em 1.5em 0.5em;
    @include media($large-screen) {
      padding: 8em 1em 3em 1em;
    }
  }
}

// articles

.promotion {
  margin: auto;
  @include media($large-screen) {
    @include span-columns(6 of 12);
  }
}

.content {
  @include media($large-screen) {
    @include span-columns(6 of 12);
  }
}

// Images

.photo-wrapper {
  @include media($large-screen) {
    text-align: center;
  }
}

// Audio



// Vidéos

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



//// Theme sections

#about {
  background-color: $grey;
  padding: 2em 0;
  h2 {
    margin: 0 5%;
  }
  blockquote {
    text-align: left;
    font-size: 1.25em;
    font-family: serif;
    font-style: italic;
    border-left: none;
    @include media($large-screen) {
      position: relative;
      padding-left: 3em;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "“";
        font-family: serif;
        font-size: 4em;
        line-height: 0.9em;
        color: rgba(0,0,0,0.3);
      }
    }
  }
}

@each $service, $color in (photo, $photo), (audio, $audio), (video, $video) {
  ##{$service} {
    header {
      background-color: $color;
      .picto {
        background: url("../images/#{$service}.png") 0 0 no-repeat;
      }
    }
    .content {
      a {
        color: $color;
        text-decoration: underline;
      }
    }
  }
}

#contact, #bio {
  @include outer-container;
  .content {
    margin-top: 5em;
    padding: 0 0.5em;
    @include media($large-screen) {
      margin-top: 3em;
      font-size: 1.2em;
      @include span-columns(8);
      @include shift(2);
    }
  }
}

.photo-right {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  @include media($large-screen) {
    float:right;
  }
}
