%header.navigation
  %nav
    %h1= link_to "Vincent Fribault", "/#", id: "title"
    =link_to "Photo", "/#photo"
    =link_to "Audio", "/#audio"
    =link_to "Vidéo", "/#video"
    =link_to "À propos", "/about.html"
    =link_to "Contact", "/contact.html"
