---
title: A propos de Vincent Fribault - Photographie et prestation audiovisuelle
---

<section id="bio">
  <div class="content" itemscope itemtype="http://schema.org/Person">
    <p>
      <img class="photo-right" src="./images/vincent_fribault.png" itemprop="image" alt="Photo de Vincent Fribault" />
      Spécialisé dans la production des médias audiovisuels à destination des entreprises, des collectivités locales et milieu associatif (documentaires, teasers, films de communication, promotion web), je vous accompagne dans votre projet, de la conception à la livraison.</p>
    <p>
	Après plusieurs années d’expérience, j’ai développé un réseau de confiance et un partenariat avec d’autres acteurs du milieu comme le <a href="http://audiotactic.fr" itemprop="colleague" >Studio Audiotactic</a> et le <a href="http://www.studiobouton.fr" itemprop="colleague" >Studio Bouton</a> pour allier qualité, sécurité et diversité de l’offre.
    </p>
    <hr>
    <p>
      <b>Audiotactic</b> : agence de conseil et de création d'identité sonore dédiée à la valorisation des marques.
    </p>
    <p>
      <b>Studio Bouton</b> : studio de création spécialisé en motion design sur Angers et Nantes.
    </p>
    <hr>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <b>Mentions légales</b> : <span itemprop="name">Vincent Fribault</span>, <span itemprop="streetAddress">30 rue des Lices</span>&nbsp;<span itemprop="postalCode">49100</span>&nbsp;<span itemprop="addressLocality">Angers</span>  
    </p>
  </div>
</section>

