---
title: A propos de Vincent Fribault - Photographie et prestation audiovisuelle
---

<section id="bio">
  <div class="content">
    <p>
      <img class="photo-right" src="./images/VincentFribault.png" />
      <b>Vincent Fribault</b>, Spécialisé dans la production des médias audiovisuels à destination des entreprises, des collectivités locales et milieu associatif (documentaires, teasers, films de communication, promotion web), je vous accompagne dans votre projet, de la conception à la livraison</p>
    <p>
	Après plusieurs années d’expérience, j’ai développé un réseau de confiance et un partenariat avec d’autres acteurs du milieu comme le <a href="http://audiotactic.fr">Studio Audiotactic</a> et <a href="http://www.studiobouton.fr">le Studio Bouton</a> pour allier qualité, sécurité et diversité de l’offre.
    </p>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Angers",
      "addressRegion": "Maine-et-Loire",
      "postalCode": "49100",
      "streetAddress": "30 rue des Lices"
    },
    "email": "mailto:vincent.fribault@laposte.net",
    "image": "./images/VincentFribault.png",
    "jobTitle": "Photographe et technicien audiovisuel",
    "name": "Vincent Fribault",
    "telephone": "06 73 47 69 08",
    "url": "http://vincent-fribault.fr"
  }
</script>
