---
title: A propos de Vincent Fribault - Photographie et prestation audiovisuelle
---

<section id="bio">
  <div class="content">
    <p>
      <img class="photo-right" src="./images/VincentFribault.png" />
      <b>Vincent Fribault</b>, 42 ans, autodidacte, curieux du monde qui l’entoure, a travaillé dans le social puis dans l'industrie informatique avant de revenir à ses premières amours, la photo et la vidéo suite à une formation de technicien vidéo en 2009.
    </p>
    <p>
      A l'écoute, ouvert aux attentes de ceux pour qui il travaille, il place ses compétences techniques et son regard au service du talent des autres.
    </p>
    <p>
      Ses travaux photographiques et sonores se font l'écho de son approche tant esthétique que sensible révélant la beauté et la poésie du monde sans en nier la fragilité.
    </p>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Angers",
      "addressRegion": "Maine-et-Loire",
      "postalCode": "49100",
      "streetAddress": "30 rue des Lices"
    },
    "email": "mailto:vincent.fribault@laposte.net",
    "image": "./images/VincentFribault.png",
    "jobTitle": "Photographe et technicien audiovisuel",
    "name": "Vincent Fribault",
    "telephone": "06 73 47 69 08",
    "url": "http://vincent-fribault.fr"
  }
</script>
