---
title: Contactez-moi !
description: Contactez-moi pour votre projet audiovisuel
---

<section id="contact">
  <div class="content" itemscope itemtype="http://schema.org/Person">
    Une question, un conseil, un devis ?
    N’hésitez pas à me contacter via le formulaire ci-dessous, par téléphone au <span itemprop="telephone"><b><%= data.settings.contact.phone %></b></span> ou via les réseaux sociaux :&nbsp;&nbsp;<a href="<%= data.settings.contact.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="<%= data.settings.contact.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="<%= data.settings.contact.linkedin %>" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;.
    <hr />
    <div class="form">
      <form action="//formspree.io/ubik.696@gmail.com" method="POST">
        <label for="name">Prénom Nom :</label>
        <input type="text" name="name" id="name">
        <label for="email">Email :</label>
        <input type="email" name="_replyto" id="email">
        <label for="body">Votre message :</label>
        <input type="hidden" name="_subject" value="Soumission du formulaire de mon site web" />
        <textarea name="body" id="body"></textarea>
        <input type="submit" value="Envoyer">
      </form>
    </div>
  </div>
</section>
