---
title: Contactez-moi !
---

<section id="contact">
  <div class="content">
    Une question, un conseil, un devis ?
    N’hésitez pas à me contacter via le formulaire ci-dessous ou par téléphone au <b><%= data.settings.contact.phone %></b>.
    <hr />
    <div class="form">
      <form action="//formspree.io/ubik.696@gmail.com" method="POST">
        <label for="name">Prénom Nom :</label>
        <input type="text" name="name" id="name">
        <label for="email">Email :</label>
        <input type="email" name="_replyto" id="email">
        <label for="body">Votre message :</label>
        <textarea name="body" id="body"></textarea>
        <input type="submit" value="Envoyer">
      </form>
    </div>
  </div>
</section>
